<?xml version="1.0" encoding="UTF-8" ?>
<schema name="solrbridge" version="1.9">
	<types>
		<fieldType name="string" class="solr.StrField" sortMissingLast="true" omitNorms="true"/>
		<!-- boolean type: "true" or "false" -->
		<fieldType name="boolean" class="solr.BoolField" sortMissingLast="true" omitNorms="true"/>
		<!--Binary data type. The data should be sent/retrieved in as Base64 encoded Strings -->
		<fieldtype name="binary" class="solr.BinaryField"/>
		<fieldType name="int" class="solr.TrieIntField" precisionStep="0" omitNorms="true" positionIncrementGap="0"/>
		<fieldType name="float" class="solr.TrieFloatField" precisionStep="0" omitNorms="true" positionIncrementGap="0"/>
		<fieldType name="long" class="solr.TrieLongField" precisionStep="0" omitNorms="true" positionIncrementGap="0"/>
		<fieldType name="double" class="solr.TrieDoubleField" precisionStep="0" omitNorms="true" positionIncrementGap="0"/>
		<fieldType name="tint" class="solr.TrieIntField" precisionStep="8" omitNorms="true" positionIncrementGap="0"/>
		<fieldType name="tfloat" class="solr.TrieFloatField" precisionStep="8" omitNorms="true" positionIncrementGap="0"/>
		<fieldType name="tlong" class="solr.TrieLongField" precisionStep="8" omitNorms="true" positionIncrementGap="0"/>
		<fieldType name="tlongs" class="solr.TrieLongField" precisionStep="8" omitNorms="true" positionIncrementGap="0"/>
		<fieldType name="tdouble" class="solr.TrieDoubleField" precisionStep="8" omitNorms="true" positionIncrementGap="0"/>
		<fieldType name="tdoubles" class="solr.TrieDoubleField" precisionStep="8" omitNorms="true" positionIncrementGap="0"/>
		<fieldType name="date" class="solr.TrieDateField" omitNorms="true" precisionStep="0" positionIncrementGap="0"/>
		<!-- A Trie based date field for faster date range queries and date faceting. -->
		<fieldType name="tdate" class="solr.TrieDateField" omitNorms="true" precisionStep="6" positionIncrementGap="0"/>
		<fieldType name="pint" class="solr.TrieIntField" omitNorms="true"/>
		<fieldType name="plong" class="solr.TrieLongField" omitNorms="true"/>
		<fieldType name="pfloat" class="solr.TrieFloatField" omitNorms="true"/>
		<fieldType name="pdouble" class="solr.TrieDoubleField" omitNorms="true"/>

		<fieldType name="random" class="solr.RandomSortField" indexed="true"/>
		<!-- A text field that only splits on whitespace for exact matching of words -->
		<fieldType name="text_ws" class="solr.TextField" positionIncrementGap="100">
			<analyzer>
				<tokenizer class="solr.WhitespaceTokenizerFactory"/>
				<filter class="solr.LowerCaseFilterFactory"/>
				<filter class="solr.SnowballPorterFilterFactory" language="Dutch"/>
			</analyzer>
		</fieldType>
		<!-- Text keyword -->
		<fieldType name="text_keyword" class="solr.TextField" positionIncrementGap="100">
			<analyzer>
				<tokenizer class="solr.KeywordTokenizerFactory"/>
			</analyzer>
		</fieldType>
		<!-- Text path -->
		<fieldType name="text_path" class="solr.TextField" positionIncrementGap="100">
			<analyzer>
				<tokenizer class="solr.PathHierarchyTokenizerFactory" delimiter="\" replace="/"/>
			</analyzer>
		</fieldType>
		<!--FOR AUTO SUGGESTION FIELD -->
		<fieldType name="edgytext" class="solr.TextField" positionIncrementGap="100">
			<analyzer type="index">
				<charFilter class="solr.MappingCharFilterFactory" mapping="mapping-ISOLatin1Accent.txt"/>
				<tokenizer class="solr.NGramTokenizerFactory" minGramSize="1" maxGramSize="50"/>
				<filter class="solr.ManagedSynonymFilterFactory" managed="dutch"/>
				<filter class="solr.ManagedStopFilterFactory" managed="dutch"/>
				<filter class="solr.LowerCaseFilterFactory"/>
				<filter class="solr.RemoveDuplicatesTokenFilterFactory"/>
				<filter class="solr.SnowballPorterFilterFactory" language="Dutch"/>
			</analyzer>
			<analyzer type="query">
				<charFilter class="solr.MappingCharFilterFactory" mapping="mapping-ISOLatin1Accent.txt"/>
				<tokenizer class="solr.KeywordTokenizerFactory"/>
				<filter class="solr.ManagedSynonymFilterFactory" managed="dutch"/>
				<filter class="solr.ManagedStopFilterFactory" managed="dutch"/>
				<filter class="solr.LowerCaseFilterFactory"/>
				<filter class="solr.SnowballPorterFilterFactory" language="Dutch"/>
			</analyzer>
		</fieldType>
		<!-- Text Standard Field -->
		<fieldType name="textStandard" class="solr.TextField" positionIncrementGap="100" autoGeneratePhraseQueries="true">
			<analyzer type="index">
				<tokenizer class="solr.StandardTokenizerFactory"/>
				<filter class="solr.ManagedStopFilterFactory" managed="dutch"/>
				<filter class="solr.StandardFilterFactory"/>
				<filter class="solr.LowerCaseFilterFactory"/>
				<filter class="solr.RemoveDuplicatesTokenFilterFactory"/>
			</analyzer>
			<analyzer type="query">
				<tokenizer class="solr.StandardTokenizerFactory"/>
				<filter class="solr.ManagedSynonymFilterFactory" managed="dutch"/>
				<filter class="solr.ManagedStopFilterFactory" managed="dutch"/>
				<filter class="solr.StandardFilterFactory"/>
				<filter class="solr.LowerCaseFilterFactory"/>
				<filter class="solr.RemoveDuplicatesTokenFilterFactory"/>
			</analyzer>
		</fieldType>
		<!-- Text Shingle -->
		<fieldType name="text_shingle" class="solr.TextField" positionIncrementGap="100">
			<analyzer>
				<tokenizer class="solr.WhitespaceTokenizerFactory"/>
				<filter class="solr.ShingleFilterFactory" maxShingleSize="7" outputUnigrams="true"/>
				<filter class="solr.LowerCaseFilterFactory"/>
				<filter class="solr.SnowballPorterFilterFactory" language="Dutch"/>
			</analyzer>
		</fieldType>

		<!-- Dutch -->
		<fieldType name="text_general" class="solr.TextField" positionIncrementGap="100">
			<analyzer>
				<tokenizer class="solr.StandardTokenizerFactory"/>
				<filter class="solr.LowerCaseFilterFactory"/>
				<filter class="solr.ManagedStopFilterFactory" managed="dutch"/>
				<filter class="solr.StemmerOverrideFilterFactory" dictionary="stemdict_nl.txt" ignoreCase="false"/>
				<filter class="solr.SnowballPorterFilterFactory" language="Dutch"/>
			</analyzer>
		</fieldType>

	</types>
	<!-- Fields definition -->
	<fields>
		<field name="unique_id" type="string" indexed="true" required="true"/>
		<field name="document_type" type="string" indexed="true" required="true"/>
		<field name="name" type="edgytext" indexed="true" stored="true"/>
		<field name="sku" type="text_keyword" indexed="true" stored="true" omitNorms="true"/>
		<field name="category_ids" type="int" indexed="true" stored="true" multiValued="true"/>
		<field name="store_id" type="int" indexed="false" stored="true"/>
		<field name="website_id" type="int" indexed="false" stored="true"/>
		<field name="status" type="int" indexed="false" stored="true"/>
		<field name="category_path" type="text_path" indexed="true" stored="true" multiValued="true" omitNorms="true"/>
		<field name="visibility" type="int" indexed="true" stored="true"/>
		<field name="short_description" type="edgytext" indexed="true" stored="true" omitNorms="true"/>
		<field name="product_url" type="string" indexed="false" stored="false" omitNorms="true"/>
		<field name="item_url" type="string" indexed="true" stored="true" omitNorms="true"/>
		<field name="textSpell" type="textStandard" stored="true" indexed="true" multiValued="true" omitNorms="true"/>
		<field name="textSearchStandard" type="textStandard" indexed="true" stored="true" multiValued="true" omitNorms="true" omitTermFreqAndPositions="false"/>
		<field name="textSearch" type="edgytext" indexed="true" stored="true" multiValued="true" omitNorms="true" omitTermFreqAndPositions="false"/>
		<field name="textSearchText" type="textStandard" indexed="true" stored="true" multiValued="true" omitNorms="true" omitTermFreqAndPositions="false"/>

		<field name="_version_" type="long" indexed="true" stored="true"/>

		<field name="product_id" type="int" indexed="true" stored="true" required="false"/>
		<field name="category_id" type="int" indexed="true" stored="true" required="false"/>

		<field name="is_in_stock" type="int" indexed="true" stored="true" required="true" omitNorms="true"/>

		<dynamicField name="*_attribute" type="text_keyword" indexed="true" stored="true" omitNorms="true"/>
		<dynamicField name="*_int" type="int" indexed="true" stored="true"/>
		<dynamicField name="*_varchar" type="text_keyword" indexed="true" stored="true" omitNorms="true" omitTermFreqAndPositions="false" multiValued="true"/>
		<dynamicField name="*_text" type="edgytext" indexed="true" stored="true" multiValued="true" omitNorms="true" omitTermFreqAndPositions="false"/>
		<dynamicField name="*_decimal" type="float" indexed="true" stored="true" multiValued="true"/>
		<dynamicField name="*_datetime" type="date" indexed="true" stored="true" multiValued="true"/>
	</fields>

	<!-- Field to use to determine and enforce document uniqueness. Unless this
		field is marked with required="false", it will be a required field -->
	<uniqueKey>unique_id</uniqueKey>

	<!-- field for the QueryParser to use when an explicit fieldname is absent -->
	<defaultSearchField>textSpell</defaultSearchField>

	<!-- SolrQueryParser configuration: defaultOperator="AND|OR" -->
	<solrQueryParser defaultOperator="OR"/>

	<copyField source="textSearch" dest="textSpell"/>
	<copyField source="name" dest="textSpell"/>
	<copyField source="product_url" dest="item_url"/>
</schema>